.row#main
	.row
		.columns.large-6
			%h1.subheader Account
			= simple_form_for @account do |f|
				= f.association :game
				= f.association :server
				= f.input :account_number
				= f.input :username
				= f.input :extra
				= f.button :submit
		.columns.large-6
			%h1.subheader Accounts list
			%ul
				- @user_accounts.each do |account|
					%li
						= account.game.name
						\- #{account.server.name} - #{account.username.capitalize}