-lead t("command.index.COMMANDCENTER")
.row#main
	=form_for current_user, url: destroy_session_path, method: 'post' do |f|
		%h3.bolder
			=current_user.username
		-if current_user.user_statuses.last.present?
			\"
			=current_user.user_statuses.last.status
			\"
	=form_for @status,  method: 'post' do |f|
		=f.text_area :status, :placeholder => "What's going on Biiiaaaattchhhh??!!"
		=f.submit 'Actualizar'

	.column.small-12.text-right.main-section
		.row.main-section-header
			%h2 GESTION DE JUEGOS
			%i.fi-widget.size-48.ficolor

		%hr.style-one.row{:style => "margin-bottom: 5%"}

		.row{:style => "margin-bottom: 8%"}
			.small-6.columns.text-center
				%h4.bolder ENLAZADOS
				-if 	current_user.accounts.none?
					%p1 Aún no has enlazado juegos, comienza ¡ahora!
				-else
					%table
						%thead
							%tr
								%th{width: "200"} Juego
								%th{width: "150"} Username
								%th{width: "150"} Estado
							%tbody
							-current_user.accounts.each do |acc|
								%tr
									%td= acc.game.name
									%td= acc.username
									%td
										%span.round.label{:class => "#{acc_status acc.status}"}
											= acc.status

			.small-6.columns.text-center
				%h4.bolder EQUIPOS
				-if 	current_user.accounts.none?
					%p1 ¡Agrega algún juego para crear un equipo!
				-elsif current_user.teams.any?
					-current_user.teams.each do |team|
						=team.name
				-else
					%p1 ¡Que esperas para crear un equipo!
		.row
			.small-12.columns.text-center
				%h4.bolder JUEGOS DISPONIBLES
				%p1 Selecciona un juego y enlázalo a tu cuenta GamerPvP y comienza a buscar torneos y desafíos ¡ahora!
				%ul.small-block-grid-5{:style => "margin-top: 2%"}
					%li
						=link_to image_tag('logo_dota.png'), '#', "data-reveal-id" => "addDota"
					%li
						=link_to image_tag('logo_lol.png'), '#', "data-reveal-id" => "addLol"
					%li
						%span.label.alert Pronto
						=image_tag('logo_sc.png')
					%li
						%span.label.alert Pronto
						=image_tag('logo_cs.png')	
					%li
						%span.label.alert Pronto
						=image_tag('logo_mk.png')


	#addDota.reveal-modal{"data-reveal" => ""}
		.row
			.columns.large-6
				%h3.bolder ¡Agrega tu cuenta de DOTA 2!
				%h6 Comienza iniciando sesión con tu cuenta de steam
				= link_to image_tag('http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_large_noborder.png'), "/auth/steam"
			.columns.large-6.text-center{:style => "padding-top: 10%"}
				=image_tag('logo_dota.png')
				%br
				%i.fi-info.size-24
				%p1 Los datos de tu cuenta se encuentran bajo un servidor seguro.
		%a.close-reveal-modal ×

			
	#addLol.reveal-modal{"data-reveal" => ""}
		.row
			.columns.large-6
				%h3.bolder ¡Agrega tu cuenta de LEAGUE OF LEGENDS!
				= simple_form_for @account do |f|
					
					= f.association :server, collection: Server.where(game: Game.find(2))
					
					= f.input :username
					
					= f.button :submit
			.columns.large-6.text-center{:style => "padding-top: 10%"}
				=image_tag('logo_lol.png')
				%br
				%i.fi-info.size-24
				%p1 Los datos de tu cuenta se encuentran bajo un servidor seguro.
		%a.close-reveal-modal ×