-lead t("command.index.COMMANDCENTER")
.row#main
	=form_for current_user, url: destroy_session_path, method: 'post' do |f|
		%h3.bolder
			=current_user.username
		-if current_user.user_statuses.last.present?
			\"
			=current_user.user_statuses.last.status
			\"
	=form_for @status,  method: 'post' do |f|
		=f.text_area :status, :placeholder => "What's going on Biiiaaaattchhhh??!!"
		=f.submit 'Actualizar'

	.column.small-12.text-right.main-section
		.row.main-section-header
			%h2 GESTION DE EQUIPOS
			%i.fi-widget.size-48.ficolor

		%hr.style-one.row{:style => "margin-bottom: 5%"}

		%dl.tabs{"data-tab" => ""}
			%dd.active
				%a{href: "#panel2-1"} 
					%h4.bolder Dota 2
			%dd
				%a{href: "#panel2-2"}
					%h4.bolder League of Legends

		.tabs-content
			#panel2-1.content.active
				.row.text-left{:style => "padding-left: 2%"}
					-if current_user.teams.where(game: Game.find(1)).none?
						%p1 Crea tu primer equipo para Dota 2
						%p1
							=link_to 'AQUI','#', "data-reveal-id" => "addEquipoDota"
						#addEquipoDota.reveal-modal{"data-reveal" => ""}
							.row
								= simple_form_for @team do |f|
									.columns.large-6
										%h3.bolder ¡Crea tu equipo!
										%fieldset
											%legend Información del equipo
											= f.association :game, collection: current_user.games.where(name: Game.find(1).name), include_blank: false
											= f.input :name
											= f.input :description
											= f.input :tag
										%fieldset
											%legend Selecciona la cuenta asociada al equipo
											.row
											= f.simple_fields_for :team_member do |p|
												.columns.large-9
													=p.input :account, collection: current_user.accounts.where(game: Game.find(1)), label_method: :username, value_method: :id, include_blank: false
												.columns.large-3
													=p.input :role, collection: Role.all, include_blank: false, disabled: true
									
									.columns.large-6.text-center{:style => "padding-top: 10%"}
										=image_tag('logo_dota.png')
										%br
										%i.fi-info.size-24
										%p1 Los datos de tu cuenta se encuentran bajo un servidor seguro.
										%br
										%br
										= f.button :submit, "CREAR EQUIPO Y ENVIAR INVITACIONES"

							%a.close-reveal-modal ×

					-if current_user.teams.where(game: Game.find(1)).any?
						-current_user.teams.where(game: Game.find(1)).each do |team|
							%br
							%hr.styled
							.small-2.columns.text-center
								%i.fi-torsos-all.size-large
								%i.fi-pencil.size-24
								%i.fi-trash.size-24
							.small-10.columns
								%h3.bolder
									=team.name
									%span.round.label{:class => "#{acc_status team.status}"}
										= team.status
								%h6= "ID: ##{team.id}" 
								%h6 REPUTACIÓN: 0
								%h6 LIGA: 0
								%h6 GAMERPVP RANK: 0

								%br
								%h5.bolder INTEGRANTES
								%table
									%thead
										%tr
											%th{width: "200"} Nick Steam
											%th{width: "200"} Rol
											%th{width: "75"}
										%tbody
										-team.team_members.order("role_id").each do |member|
											%tr
												%td=member.account.username
												%td=member.role.name
												%td.text-center
													%i.fi-pencil.size-24
													%i.fi-trash.size-24
										%tr
											%td 
												=link_to '+ Agregar','#', "data-reveal-id" => "addTeamMember"
											%td
												%a 
											%td 
											
										

					#addTeamMember.reveal-modal{"data-reveal" => ""}
						.row
							.columns.large-6
								%h3.bolder ¡Completa tu equipo!
								%form
									%fieldset
										%legend Vía E-mail
										%label
											Dirección
											%input{placeholder: "", type: "text"}

									%fieldset
										%legend Vía Facebook
										%label
											[]

									%fieldset
										%legend Por nombre de usuario en GamerPvP
										%label
											Nickname
											%input{placeholder: "", type: "text"}

							.columns.large-6.text-center{:style => "padding-top: 10%"}
								%br
								%br
								%br
								%a.button
									¡HECHO!
						%a.close-reveal-modal ×




			#panel2-2.content
				.row.text-left{:style => "padding-left: 2%"}
					-if current_user.teams.where(game: Game.find(2)).none?
						%p1 Crea tu primer equipo para League of Legends
						%p1
							=link_to 'AQUI','#', "data-reveal-id" => "addEquipoLol"
							#addEquipoLol.reveal-modal{"data-reveal" => ""}
								.row
									= simple_form_for @team do |f|
										.columns.large-6
											%h3.bolder ¡Crea tu equipo!
											%fieldset
												%legend Información del equipo
												= f.association :game, collection: current_user.games.where(name: Game.find(2).name), include_blank: false
												= f.input :name
												= f.input :description
												= f.input :tag
											%fieldset
												%legend Selecciona la cuenta asociada al equipo
												.row
												= f.simple_fields_for :team_member do |p|
													.columns.large-9
														=p.input :account, collection: current_user.accounts.where(game: Game.find(2)), label_method: :username, value_method: :id, include_blank: false
													.columns.large-3
														=p.input :role, collection: Role.all, include_blank: false, disabled: true
										
										.columns.large-6.text-center{:style => "padding-top: 10%"}
											=image_tag('logo_lol.png')
											%br
											%i.fi-info.size-24
											%p1 Los datos de tu cuenta se encuentran bajo un servidor seguro.
											%br
											%br
											= f.button :submit, "CREAR EQUIPO Y ENVIAR INVITACIONES"

								%a.close-reveal-modal ×
					-if current_user.teams.where(game: Game.find(2)).any?
						-current_user.teams.where(game: Game.find(2)).each do |team|
							%br
							%hr.styled
							.small-2.columns.text-center
								%i.fi-torsos-all.size-large
								%i.fi-pencil.size-24
								%i.fi-trash.size-24
							.small-10.columns
								%h3.bolder
									=team.name
									%span.round.label{:class => "#{acc_status team.status}"}
										= team.status
								%h6= "ID: ##{team.id}" 
								%h6 REPUTACIÓN: 0
								%h6 LIGA: 0
								%h6 GAMERPVP RANK: 0

								%br
								%h5.bolder INTEGRANTES
								%table
									%thead
										%tr
											%th{width: "200"} Nick Invocador
											%th{width: "200"} Rol
											%th{width: "75"}
										%tbody
										-team.team_members.order("role_id").each do |member|
											%tr
												%td=member.account.username
												%td=member.role.name
												%td.text-center
													%i.fi-pencil.size-24
													%i.fi-trash.size-24
										%tr
											%td 
												=link_to '+ Agregar','#', "data-reveal-id" => "addTeamMember"
											%td
												%a 
											%td 
											




-# .row
-# 	.columns.large-6
-# 		%h1.subheader Team
-# 		= simple_form_for @team do |f|
-# 			= f.association :game
-# 			= f.input :name
-# 			= f.input :description
-# 			= f.input :tag
-# 			= f.button :submit
-# 	.columns.large-6
-# 		%h1.subheader Teams list
-# 		%ul
-# 			- @user_teams.each do |team|
-# 				%li
-# 					= team.game.name
-# 					\- #{team.tag} - #{team.name.capitalize}
-# 					%ul
-# 						%li
-# 							%span.subheader Members
-# 							- team.team_members.order('role_id').each do |member|
-# 								%li
-# 									= member.user.username.capitalize
-# 									= member.role.name
													