#header
  // Top Bar
  %nav#top_menu.top-bar{"data-topbar" => ""}
    %section.top-bar-section
      %ul.left
        %li.has-dropdown.not-click
          %a{href: "#"} Idioma: #{locale.upcase}
          %ul.dropdown
            %li.title.back.js-generated
              %h5
                %a{href: "javascript:void(0)"}
                  =t('header.Back')
            %li
              =link_to t("header.Espanol"), url_for(:locale =>'es')
            %li
              =link_to t("header.Ingles"), url_for(:locale =>'en')
            %li
              =link_to t("header.Portugues"), url_for(:locale =>'pt-BR')
      / Right Nav Section
      %ul.right
        %li
          =link_to current_user.username, profile_path, :style => "font-weight: bold"
        %li
          =link_to t('header.Logout'), destroy_session_path
        %li
          =link_to t('header.Feedback'), feedback_path 
  // Logo
  .row
    .small-6.small-centered.columns.text-center
      =link_to image_tag('logo_white.png', :style => "-webkit-box-shadow: 8px 200px 272px 14px rgba(0,0,0,0.75); -moz-box-shadow: 8px 200px 272px 14px rgba(0,0,0,0.75); box-shadow: 8px 10px 272px 14px rgba(0,0,0,0.75);"), main_path, class: "#{cp(main_path)}"
      .fb-like{ :style => "margin-top: 3%", "data-action" => "like", "data-href" => "https://www.facebook.com/Gamerpvp", "data-layout" => "standard", "data-share" => "true", "data-show-faces" => "false", "data-colorscheme" => "dark"}
  // Medium Top Bar
  #medium-topbar.row.contain-to-grid
    %nav#mid_menu.top-bar{"data-topbar" => ""}
      %section.top-bar-section
        %ul.left
          %li
            =link_to t('header.CHOOSEYOURDESTINY'), choose_path, class: "#{cp(choose_path)}"
          %li.divider
          %li
            =link_to t('header.HALLOFFAME'), halloffame_path, class: "#{cp(halloffame_path)}"
          %li.divider
        // Right Nav Section
        %ul.right
          %li
            =link_to t('header.COMMANDCENTER'), main_path, class: "#{cp(main_path)}"
          %li.divider
          %li
            =link_to t('header.TICKET'), ticket_path, class: "#{cp(ticket_path)}"
          %li.divider
          %li
            =link_to t('header.BANCO'), bank_path, class: "#{cp(bank_path)}"
    #header-saldo.column.small-12.text-center
      .small-4.small-centered.columns.text-center
        .small-6.columns.text-right
          =link_to image_tag('cashier.png')
        .small-6.columns.text-left{:style => "padding-top: 2%"}
          %h1 XX
          %p
            %small
              =t("header.SaldoDisponible")