!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "GamerPVP - Let the Game Begin"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    #fb-root
    = yield
    #footer
      .row
        .small-4.columns.text-center
          %h4.subheader SÍGUENOS
          = link_to image_tag('social-icons/facebook.png'), 'https://www.facebook.com/Gamerpvp', target: '_blank'
          = link_to image_tag('social-icons/twitter.png'), 'https://twitter.com/GamerPVPcom', target: '_blank'
        .small-4.columns.text-center
          %h4.subheader PARTNERS
        .small-4.columns.text-center
          %h4.subheader SOPORTE
          %br/
          %p F.A.Q.
          %p Contacto
          %p Feedback
          %p Juego Responsable
          %p Privacidad
          %p Términos y Condiciones
      .row{:style => "height: 2rem;"}
        .small-4.columns
        .small-4.columns
        .small-4.columns
      .row
        .small-6.columns.text-left
          = image_tag('over18_credit.png')
        .small-6.columns.text-right
          %p{:style => "margin: 1rem auto auto auto"} 2014 GamerPVP. Todos los derechos reservados.

    = javascript_include_tag "application"